<% if alert %>
  <div class="alert alert-info d-flex justify-content-between align-items-center">
    <%= alert %>
    <a class="link-secondary" data-dismiss="alert" onclick="this.parentElement.classList.add('d-none');">
      <i class="fa-sharp fa-solid fa-xmark"></i>
    </a>
  </div>
<% end %>

<div class="card" style="width: 20rem;">
  <div class="card-header fs-2 fw-bold">
    <%= @restaurant.name %>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><strong>Address:</strong> <%= @restaurant.address %></li>
    <li class="list-group-item"><strong>Cuisine:</strong> <%= @restaurant.category %></li>
    <li class="list-group-item"><strong>Contact:</strong> <%= @restaurant.phone_number %></li>
  </ul>
  <%= link_to 'See Reviews', restaurant_reviews_path(@restaurant), class: 'btn btn-outline-primary' %>
</div>

<div id="reviews_part">
  <%= render partial: "reviews/new", restaurant: @restaurant, review: @review %>
</div>

<%= link_to 'Back', restaurants_path, class: 'btn btn-primary my-4' %>
